#boxjudul{
  text-align: center;
  background-color: aqua;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 50px ;
}


#myButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;

}

#myButton:hover {
  background-color: #0056b3;
}

#kotak{
background-color: #ff0000;
width: 240px;
height: 200px;

}